.simpleDialog-dialog {
	position: fixed;
	max-width: 30em;
	max-height: 20em;
	_width: 30em;
	_height: 20em;
	margin: auto;
	top: 1em;
	left: 1em;
	right: 1em;
	bottom: 1em;
	background: white;
	z-index: 1000;
	border-radius: 0.5em;
	box-shadow: 0 0 1em #000;
	border: 1px solid #ccc;
	line-height: 1.5;
}

.colour-yellow .simpleDialog-dialog {
	background: #F6F2D3;
}

.colour-high .simpleDialog-dialog {
	background: #000;
}

.simpleDialog-absolute {
	position: absolute;
}

.simpleDialog-dialog:focus {
	outline: none;
	border-color: orange;
}

.simpleDialog-mask {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("<WEM PICT0004></WEM>"); /*.3 appears is too light in IE*/
    background: rgba( 0,0,0,0.3);
}

.simpleDialog-mask-absolute {
	position: absolute;
}


.simpleDialog-dialog:focus {
    outline: 1px solid #orange;
}	

.simpleDialog-heading {
	background: #0091C0;
	padding: 0.3em 1.5em 0.3em 0.5em;
	font-size: 1.3em;
	margin: 0.1em;
	border-radius: 0.3em;
	white-space: nowrap;  
	overflow: hidden;
	text-overflow: ellipsis;
	_height: 1.5em; /* IE 6 can't do the no wrap thing correctly, and adding width 100% messes up everything else */
	_white-space: wrap;  
}
.colour-normal .simpleDialog-heading {
	color: #fff;
}
.colour-yellow .simpleDialog-heading {
	background: #DFD179;
}
.colour-high .simpleDialog-heading {
	background: #333;
}

.simpleDialog-a-close {
	position: absolute;
	top: .4em;
	right: .4em;
	text-decoration: none;
	color: #fff;
	font-size: 1.2em;
	line-height: 1;
	width: 1em;
	height: 1em;
	text-align: center;
	padding: .2em;
	border-radius: .2em;
	font-family: IcoMoon;
}
.simpleDialog-a-close:hover, .simpleDialog-a-close:focus, .simpleDialog-a-close:active {
   background: #fff;
   color: #0091C0;
   text-decoration: none !important;
}

.colour-yellow .simpleDialog-a-close:hover, .colour-yellow .simpleDialog-a-close:focus, .colour-yellow .simpleDialog-a-close:active {
	background: #933;
	color: #F6F2D3;
	text-decoration: none !important;
}

.colour-high .simpleDialog-a-close:hover, .colour-high .simpleDialog-a-close:focus, .colour-high .simpleDialog-a-close:active {
	background: #FFC81B;
	color: #333;
	text-decoration: none !important;
}

.simpleDialog-content { 
	margin: 0.2em;
	position: absolute;
	top: 3.1em;
	bottom: 0;
	padding: 0 1em .5em 1em;
	overflow: auto;
	left: 0;
	right: 0;
	/* One finger scrolling */
	-webkit-overflow-scrolling: touch;
	*overflow-x:hidden; /* IE6/7 always messes up the horizontal scrollbar*/
	*overflow-y:auto;
}

.simpleDialog-footer {
	border-top: 1px solid #DFDFDF;
	margin: 0;
	padding: 0.2em;
	position: absolute;
	bottom: 0;
	left: 0; right: 0;
}

.colour-yellow .simpleDialog-footer {
	border-top-color: #DFD179;
} 

.simpleDialog-footer button {margin: .4em .5em; font-size: 1.1em;}
.simpleDialog-button-right { float: right; *float: none; /* IE 7 doesn't handle floats correctly */ }
.simpleDialog-footer a {margin: .4em .5em; font-size: 1.1em; font-weight: bold;}




.copy .icomoon-button {display: none; position: absolute; left: -10000px;}

.span-key {border:1px solid #ccc; padding: 0 .2em; border-radius: 4px; box-shadow: 0 0 2px #ccc; font-weight: bold; background: #eee; color: #353535;}

.dl-credentials dt {float: left; width: 7em; clear: left;}
.dl-credentials dt:after {content: ":"}
.dl-credentials dd {font-weight: bold;}


.icon-help:before {content: ""; background: url("<WEM PICT0003></WEM>") no-repeat; width: 20px; height: 16px; display: inline-block; padding-bottom: .2em; vertical-align: middle;}
